<div class="my-4">
  <%= link_to '新規タスクの投稿', new_task_path %>
</div>

<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">ユーザーネーム</h3>
      </div>
      <div class="card-body">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="/" class="nav-link">Tasklists</a></li>
    </ul>
    <%= render 'tasks/tasks', tasks: @tasks %>
  </div>
</div>